.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.4em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
