.movie--detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 2.25rem;
}
.movie--detail .button {
  color: #fff;
}
.movie--detail .button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.movie--detail .movie__title {
  font-size: 2rem;
}
.movie__subtitle {
  text-align: center;
}
.movie--detail .movie__text {
  text-align: center;
  line-height: 1.56rem;
}
