.App {
  padding-top: 2.25rem;
  text-align: center;
}
.SearchForm-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2.25rem;
}
.list-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
